<!DOCTYPE html>
<html lang="en" class="">
    {% include head.html %}

    <body>
        {% include loader.html %}
        {% include header.html %}
        <main>
          <section id="portfolio-title" style="background-color: {{ page.basecolour }};">
          <img src="{{ site.baseurl }}/{{ page.image.url }}">
          <h2>Project: <span>{{ page.title }}</span></h2>
          <div>{{ page.category }}</div>
          </section>
          <section class="dark">
            <h3><span>description</span></h3>
            <p>{{ page.description }}</p>
          </section>
          <section>
            <h3><span>Technology Used</span></h3>
            <ul>
                {% for technology in page.technology %}
                <li>{{ technology }}</li>
                {% endfor %}
            </ul>
          </section>
        </main>
        {% include footer.html %}

    </body>
</html>
