html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
  min-height: 100vh;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.hidden {
  display: none !important;
}

body {
  background: #ECF0F1;
  text-rendering: optimizeLegibility;
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  overflow: hidden;
  min-height: 100vh;
}

body.loaded {
  overflow: auto !important;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.2em;
}

h2 {
  font-size: 6rem;
  margin: 0.2em 0 0.2em 0.3em;
}

h3 {
    text-align: center;
    position: relative;
    font-size: 1.6rem;
    color: #2C2F33;
    letter-spacing: 1px;
    text-transform: uppercase;

}

h3 span {
  padding: 0 2rem;
  position: relative;
  z-index: 1;
  background-color: #fff;
}

.dark h3 span {
  background-color: #fafafa;
}

h3:before {
  background: #ccc;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 50%;
  width: 60%;
  left: 20%;
}

a, a:visited,  {
  color: #000;
}

.wip {
  padding: 0.5em 0;
  background: #fafafa;
  color: #999;
  text-align: center;
  margin: 0;
}

nav {
  padding: 0 10px;
  box-sizing: border-box;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    a{
      text-decoration: none;
    }
  }
}

header {
  height: $header_height;
  z-index: 999;
  width: 100%;
  background: #2C3E50;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  bottom: 0;
  .social a, .logo {
    &:hover {
      opacity: 0.8;
    }
  }
  .logo {
    margin: 10px 0;
    display: block;
    width: $header_height;
  }
  nav{
    width: 100%;
    max-width: $wrapper_width;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    ul{
      height: 100%;
      li {
        float: left;
        height: 100%;
        box-sizing: border-box;
        border-bottom: 3px solid rgba(0,0,0,0);
        &:hover {
          border-bottom-color: #E74C3C;
        }
        a{
          color: #fff !important;
          font-size: 18px;
          margin-bottom: -3px;
          padding: 22px 20px 0 20px;
          height: 100%;
          display: block;
        }
      }
    }
    .social {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;
      a{
        height: 28px;
        width: 28px;
        display: block;
        span {
          height: 100%;
          width: 100%;
          display: block;
          color: #fff;
        }
      }
    }
  }
}

main {
  max-width: $wrapper_width;
  min-width: 300px;
  width: 90%;
  margin: 0 auto;
  background: #fafafa;
  section {
    width: 100%;
    background-color: #fff;
    padding: 20px;
    padding-bottom: 50px;
  }
  section.tight {
    padding-bottom: 20px;
  }
}
.dark {
  background-color: #fafafa;
  border-bottom: #dddddd solid 1px;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}
section{
  box-sizing: border-box;
  overflow: hidden;
}

#welcome {
  padding: 0;
  background: url("/portfolio2017/images/banner.jpg") no-repeat;
  background-size: cover;
  background-position: right top;
  color: #fff;
  height: 40vh;
  min-height: 200px;
  max-height: 500px;
  .overlay {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
      text-transform: uppercase;
      padding: 0;
      margin: 1rem;
      margin-bottom: 0;
      width: 65%;
      font-weight: 200;
      span {
        font-weight: 400;
      }
    }
    .sub {
      margin: 1rem;
      margin-left: 1.5rem;
      margin-top: 0;
      width: 50%;
      overflow-x: visible;
      white-space: nowrap;
      font-weight: 200;
      font-family: 'Montserrat', sans-serif;
    }
  }
}

#mini-skills {
  width: 100%;
  div{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    .col {
      max-width: 400px;
      width: 50%;
      min-width: 300px;
      margin: 0 20px;
      padding: 15px;
      min-height: 100px;
      margin-bottom: 20px;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      box-sizing: border-box;
      border-radius: 15px;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
      background: #fff;
      .icon {
        display: block;
        width: 200px;
        height: 80px;
        background-size: contain;
        background-position: center;
        margin-bottom: 20px;
      }
      .title {
        display: block;
        font-weight: 700;
      }
      p {
        text-align: center;
      }
    }
  }
}

#bio {
  display: flex;
  flex-wrap: wrap;
  .col {
    min-height: 350px;
    width: 60%;
    min-width: 300px;
    &:nth-of-type(1){
      padding: 0 30px;
    }
    &:nth-of-type(2){
      width: 40%;
    }
    .profileimg {
      width: 100%;
      height: 100%;
      position: relative;
      span {
        display: block;
        background-size: contain;
        background-position: right bottom;
        position: absolute;
        top: 0;
        left: 0;
        right: 30px;
        bottom: -20px;
      }
    }
    .subheading {
      font-size: 2.5rem;
      color: #2980B9;
      font-weight: 400;
    }
    p:not(.subheading) {
      font-size: 2rem;
      font-weight: 300;
      line-height: 1.6em;
    }
  }
}

#external {
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 30px;
    .col {
      width: 50%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .icon {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          display: block;
          height: 200px;
          width: 100%;
          background-size: contain;
          background-position: center center;
        }
      }
      p {
        font-size: 2rem;
      }
    }
  }
}

#calltoaction {
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    margin-top: 50px;
    font-size: 2.5rem;
  }
}

#featured-projects {
  .owl-carousel {
    .item {
      box-shadow: 2px 2px 4px 2px rgba(0,0,0,.2);
      border-radius: 5px;
      overflow: hidden;
      box-sizing: border-box;
      margin-bottom: 5px;
      margin-top: 5px;
      a {
        text-decoration: none;
      }
      .title {
        text-align: center;
        text-decoration: none;
        font-size: 1.8rem;
        margin-top: 0.5em;
        color: #666;
      }
    }
  }
}

#resume {
  height: 95vh;
}

#portfolio-title {
  height: 20vh;
  min-height: 200px;
  max-height: 400px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  img {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    opacity: 0.2;
    filter: blur(5px);
    transform: scale(1.05);
    z-index: 1
  }
  img ~ * {
    z-index: 10;
  }
  h2 {
    font-weight: 200;
    span {
      font-weight: 400;
    }
  }
}

#portfolio-grid {
  #filters {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    li {
      cursor: pointer;
      text-transform: uppercase;
      margin: 0 10px;
      padding: 5px 10px;
      padding-top: 6px;
      color: #fff;
      font-size: 1.8rem;
      border: 3px solid rgba(0,0,0,0);
      background-color: #3498DB;
      box-sizing: border-box;
      border-radius: 5px;
      &:hover {
        border-bottom-color: #E74C3C;
      }
    }
    li.current {
      background-color: #2980B9;
    }
  }
  .portfolio-items {
    .item {
      position: relative;
      width: 300px;
      margin: 20px;
      display: block;
      text-decoration: none;
      transition: all .3s;
      &:hover {
        opacity: 1 !important;
      }
      .inner {
        width: 100%;
        height: 100%;
        border-style: solid;
        border-width: 3px;
        box-shadow: 1px 1px 2px 1px rgba(0,0,0,.2);
        border-radius: 5px;
        overflow: hidden;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        img {
          width: 96%;
          height: auto;
          margin: 5px;
          border-radius: 5px;
          background-clip: padding-box;
          align-self: center;
        }
        .title {
          margin-top: 5px;
          font-size: 1.8rem;
          line-height: 1.9rem;
          font-weight: 400;
          margin-left: 20px;
        }
        .type {
          font-size: 1.6rem;
          font-weight: 300;
          margin-left: 20px;
        }
      }
    }
    .item.dull {
      opacity: 0.4;
    }
    .item.large {
      width: 350px;
    }
  }
}

footer {
  width: 100%;
  min-height: 20px;
  background: #FFF;
  border-top: #dddddd solid 1px;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  .wrap{
    max-width: $wrapper_width;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    .logo {
      height: 50px;
      width: 50px;
      display: block;
    }
    div {
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
      nav {
        ul {
          display: flex;
          flex-wrap: wrap;
          li {
            box-sizing: border-box;
            a {
              color: #000;
              font-size: 18px;
              padding: 0 10px;
            }
          }

        }
      }
      .social {

      }
    }
    .copyright {
      text-align: center;
    }
  }
}

form {
  input, textarea {
  	border: 1px solid #ccc;
    font-size: 15px;
  	padding: 8px 10px;
  	-webkit-border-radius: 5px;
  	-moz-border-radius: 5px;
  	border-radius: 5px;
  	outline: 0;
    width: 350px;
  }
  textarea {
  	width: 100%;
  }
  input[type="submit"] {
  	cursor: pointer;
  	background: linear-gradient(to bottom, #efefef, #ddd);
  	color: #333;
  	text-shadow: 0px 1px 1px rgba(255,255,255,1);
  	border: 1px solid #ccc;
    width: 100px;
    margin: 0 auto !important;
    display: block;
  }

  input[type="submit"]:hover {
  	background: linear-gradient(to bottom, #eee, #ccc);
  	border: 1px solid #bbb;
  }

  input[type="submit"]:active {
    background: linear-gradient(to bottom, #ddd, #aaa);
    border: 1px solid #999;
  }
  div {
    margin-bottom: 8px;
    width: 100%;
  }
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  #comment_form {
    input, textarea {
      width: 100%;
    }
  }
}
