#pre-loader {
  height: 100vh;
  background: #2C3E50;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .logo {
    width: 100px;
    height: 100px;
    background-position: center;
    margin-bottom: 40px;
  }
  .loading-message {
    color: #fff;
    font-size: 1.6rem;
  }
}
