<footer class="dark">
  <div class="wrap">
      <div>
        <nav>
          <ul>
            {% include nav_items.html %}
          </ul>
        </nav>
        <div class="social">
          <a href="#" title="Connect with me on Linkedin" target="_blank"><span class="icon_linkedin"></span></a>
        </div>
      </div>
      <span class="logo black"></span>
      <span class="copyright">&copy; Mitchell Williams 2017</span>
  </div>
</footer>

<!-- SCRIPTS -->
<script src="https://use.fontawesome.com/337b25012d.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.2/imagesloaded.pkgd.min.js"></script>
<script src="https://cdn.jsdelivr.net/theaterjs/latest/theater.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/scrollReveal.js/3.3.5/scrollreveal.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>



<!-- build:js /scripts/main.min.js -->
<script src="/scripts/main.js"></script>
<!-- endbuild -->
