    <!-- HEADER -->
    <!--[if lte IE 9]>
      <p class="browserupgrade"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <div class="wip"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> My Portfolio is still a work in progress! Please ignore any undeveloped or broken features or sections <i class="fa fa-smile-o" aria-hidden="true"></i>
</div>
    <header>
      <nav>
        <a href="{{ site.baseurl }}/" class="logo"></a>
        <ul>
          {% include nav_items.html %}
        </ul>
        <div class="social">
          <a href="https://www.linkedin.com/in/the-mitchell-williams/" title="Connect with me on Linkedin" target="_blank"><span class="icon_linkedin"></span></a>
        </div>
      </nav>
    </header>
    <!-- HEADER -->
